---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.png";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      ​欢迎来到 United Brilliance
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      一个汇聚顶尖思想的线上殿堂。我们坚信，真正的辉煌并非源自孤勇者的天才，而是诞生于多种智慧的深度联结与碰撞。在这里，来自全球的探索者、创造者、变革者，齐聚一堂，无论是分享独到见解、灵感源泉，还是寻找志同道合的伙伴，协作并解决复杂挑战，United Brilliance 都是您启思凝智，点燃创新火花，将卓越想法转化为现实的地方。让我们共同构建，携手发展，联合起来，共同点亮这个世界。
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://ub.edu.kg"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        

        联合！
      </Link>
      
    </div>
  </div>
</main>
